@{
    Layout = "~/Views/Shared/_LayoutUnlogged.cshtml";
    ViewBag.Title = "About";
}
<h2>Szkolenie techniczne 2</h2>
<h3>Zadanie projektowe</h3>

<br/>
<p>Autor: NN NN</p>
<p>Nr albumu: 12345 67890</p>
<p>Rok i semestr: 2017/2018 4IIZ</p>
<p>Kod źródłowy: <a href="https://github.com/wojciechmarek/Bookstore" class="btn btn-default">github.com</a></p>
